<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Список контактов</title>
</head>
<body>
<h1>Список контактов</h1>
</body>
<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Телефон</th>
        <th>ID</th>
    </tr>
    <tr th:each="contact: ${contacts}">
        <td th:text="${contact.firstName}" />
        <td th:text="${contact.lastName}" />
        <td>
            <table>
                <tr th:each="phone: ${contact.phones}">
                    <td th:text="${phone.number}" />
                </tr>
            </table>
        </td>
        <td th:text="${contact.id}" />
    </tr>
</table>
<input type="button" value="Добавить" onclick="window.location.href='add'">
</html>